<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Scanner</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Network Scanner</h1>
    <div id="scanner">
        <input type="text" id="ip_range" placeholder="Enter IP Range (e.g., 192.168.1.1/24)">
        <button onclick="scanDevices()">Scan</button>
    </div>
    <div id="results">
        <h2>Connected Devices</h2>
        <table>
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>MAC Address</th>
                    <th>Hostname</th>
                </tr>
            </thead>
            <tbody id="devices"></tbody>
        </table>
    </div>

    <script>
        async function scanDevices() {
            const ipRange = document.getElementById('ip_range').value;
            if (!ipRange) {
                alert("Please enter a valid IP range!");
                return;
            }
            
             try {
            const response = await fetch('/get-ip/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', 
                },
                body: JSON.stringify({ "ip": ipRange }), 
            });
            
                const data = await response.json();  // Parse the response JSON
                const devices = data.data; // Extract the "data" array from the response
                console.log(devices);
   
    
                const devicesTable = document.getElementById('devices');
                devicesTable.innerHTML = ''; // Clear the existing table content

                // Loop through the devices array and populate the table
                devices && devices.map(device => {
                    const row = `<tr>
                        <td>${device.ip}</td>
                        <td>${device.mac}</td>
                        <td>${device.hostname}</td>
                        </tr>`;
                    devicesTable.innerHTML += row;  // Append the row to the table
                });

             
        } 
        catch (error) {
            // Handle any errors during the fetch operation
            alert("Error")
            console.error("Error fetching data: ", error);
            alert("An error occurred while fetching device data.");
        }
    
          
            

            
        }
    </script>
</body>
</html>
